<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Detalhes de <%= clientes.nome %></title>
  </head>
  <body>
    <h1>Detalhes do Clientes</h1>
    <p><strong>ID:</strong> <%= clientes.id %></p>
    <p><strong>Nome:</strong> <%= clientes.nome %></p>
    <p><strong>Email:</strong> <%= clientes.email %></p>
    <a href="/produtos">Voltar para a lista</a>
  </body>
</html>
