<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Lista de Clientes</title>
  </head>
  <body>
    <h1>Gestão de Clientes</h1>
    <a href="/clientes/novo">Cadastrar Novo Cliente</a>
    <hr />
    <h2>Lista de Clientes</h2>
    <table border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <% clientes.forEach(clientes => { %>
        <tr>
          <td><%= clientes.id %></td>
          <td><%= clientes.nome %></td>
          <td><%= clientes.email %></td>
            <a href="/clientes/detalhe/<%= clientes.id %>">Ver Detalhes</a>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <br />
    <a href="/">Voltar para Home</a>
  </body>
</html>