<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Lista de Produtos</title>
  </head>
  <body>
    <h1>Gestão de Produtos</h1>
    <a href="/produtos/novo">Cadastrar Novo Produto</a>
    <hr />
    <h2>Lista de Produtos</h2>
    <table border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Preço</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% produtos.forEach(produto => { %>
        <tr>
          <td><%= produto.id %></td>
          <td><%= produto.nome %></td>
          <td>
            <%= produto.preco.toLocaleString('pt-BR', { style: 'currency',
            currency: 'BRL' }) %>
          </td>
          <td>
            <a href="/produtos/detalhe/<%= produto.id %>">Ver Detalhes</a>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <br />
    <a href="/">Voltar para Home</a>
  </body>
</html>
